.header_cont {
  width: 100%;
  height: auto;
  position: relative;

  .header_cont2 {
    width: 100%;
    height: auto;
    position: relative;
    padding: 32px 0;

    .header_cont3 {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;

      .title_cont {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title_cont2 {
          width: 100%;
          height: auto;
          position: relative;
          padding: 8px 0;

          .title_cont3 {
            width: 100%;
            height: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1,
            h2 {
              margin: 0 0 8px 0;
              text-transform: uppercase;
              text-align: center;
              border-bottom: 5px solid #fff8;
            }
            h1 {
              font-size: 2rem;
            }
            h2 {
              font-size: 1rem;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}
