.viewProduct {
  width: 100%;
  height: auto;
  position: relative;

  & > .vp_cont {
    width: 100%;
    height: auto;
    position: relative;
    padding: 32px 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > .vp_cont2 {
      max-width: 1100px;
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;

      & > .header {
        width: 100%;
        height: auto;
        position: relative;

        & > .h_cont {
          width: 100%;
          height: auto;
          position: relative;
          padding: 0 0 16px 0;

          & > .h_cont2 {
            width: 100%;
            height: auto;
            position: relative;

            & > h1 {
              width: 100%;
              font-size: 2rem;
              color: #222;
              text-transform: uppercase;
              text-align: center;
              text-decoration: underline;
            }
          }
        }
      }

      & > .product {
        width: 100%;
        height: auto;
        position: relative;

        & > .p_cont {
          width: 100%;
          height: auto;
          position: relative;
          padding: 16px 0;

          & > .p_cont2 {
            width: 100%;
            height: auto;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            align-content: center;

            & > .presentation {
              max-width: 500px;
              width: 100%;
              height: auto;
              position: relative;

              & > .p_cont {
                width: 100%;
                height: auto;
                position: relative;

                & > .p_cont2 {
                  width: 100%;
                  height: auto;
                  position: relative;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: stretch;

                  & > figure {
                    width: 100%;
                    height: 350px;
                    position: relative;
                    & > img {
                      width: 100%;
                      height: 100%;
                    }
                  }

                  & > p {
                    text-align: left;
                    font-size: 1rem;
                    color: #fff;
                    &::first-letter {
                      text-transform: uppercase;
                    }
                  }
                }
              }
            }

            & > .description {
              max-width: 500px;
              width: 100%;
              height: auto;
              position: relative;

              & > .d_cont {
                width: 100%;
                height: auto;
                position: relative;

                & > .d_cont2 {
                  width: 100%;
                  height: auto;
                  position: relative;

                  & > .header {
                    width: 100%;
                    height: auto;
                    position: relative;

                    & > .h_cont {
                      width: 100%;
                      height: auto;
                      position: relative;
                      padding: 0 0 16px 0;

                      & > .h_cont2 {
                        width: 100%;
                        height: auto;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        justify-content: center;

                        & > .description {
                          width: 100%;
                          height: auto;
                          position: relative;
                          padding: 0 0 8px 0;
                          & > h2 {
                            margin: 0;
                            color: #fff;
                            font-size: 1.5rem;
                            text-align: left;
                            &:not(:last-child) {
                              padding: 0 0 4px 0;
                              &::first-letter {
                                text-transform: uppercase;
                              }
                            }
                          }
                        }

                        & > .cantProd {
                          width: 100%;
                          height: auto;
                          position: relative;

                          & > label {
                            font-size: 1.5rem;
                            color: #fff;
                            padding-right: 4px;
                            &::first-letter {
                              text-transform: uppercase;
                            }
                          }
                          & > input[type="number"] {
                            max-width: 120px;
                            font-size: 1.5rem;
                            background-color: transparent;
                            border: 1px solid #fff;
                            padding: 8px 8px 8px 4px;
                          }

                          & > .msgError {
                            display: block;
                            padding: 12px 0;
                            font-size: 2rem;
                            text-transform: uppercase;
                            color: #f00;
                          }
                        }
                      }
                    }
                  }

                  & > .section {
                    width: 100%;
                    height: auto;
                    position: relative;

                    & > .s_cont {
                      width: 100%;
                      height: auto;
                      position: relative;
                      padding: 16px 0;

                      & > .s_cont2 {
                        width: 100%;
                        height: auto;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        justify-content: center;

                        & > .btnAddCart {
                          width: 100%;
                          height: auto;
                          position: relative;
                          padding: 0 0 16px 0;

                          & > button {
                            width: 100%;
                            height: auto;
                            font-size: 1.5rem;
                            padding: 16px 0;
                            text-transform: uppercase;
                            color: #fff;
                            background-color: rgba(223, 186, 18, 0.514);
                            cursor: pointer;
                            border: none;

                            &:invalid {
                              background-color: rgb(223, 185, 18);
                            }
                          }
                        }

                        & > .infoProduct {
                          width: 100%;
                          height: auto;
                          position: relative;

                          & > .ip_cont {
                            width: 100%;
                            height: auto;
                            position: relative;
                            padding: 16px 0;

                            & > .ip_cont2 {
                              width: 100%;
                              height: auto;
                              position: relative;
                              display: flex;
                              flex-direction: column;
                              align-items: stretch;
                              justify-content: center;

                              & > .title {
                                width: 100%;
                                font-size: 1.2rem;
                                color: #555;
                                text-decoration: underline;
                                &::first-letter {
                                  text-transform: uppercase;
                                }
                              }

                              & > .description {
                                width: 100%;
                                text-align: justify;
                                color: #555;
                                font-size: 1rem;
                              }
                            }
                          }
                        }

                        & > .politics {
                          width: 100%;
                          height: auto;
                          position: relative;

                          & > .p_cont {
                            width: 100%;
                            height: auto;
                            position: relative;
                            padding: 8px 0;

                            & > .p_cont2 {
                              width: 100%;
                              height: auto;
                              position: relative;
                              display: flex;
                              flex-direction: column;
                              align-items: stretch;
                              justify-content: center;

                              & > h2 {
                                width: 100%;
                                margin: 0;
                                text-align: left;
                                font-size: 1.2rem;
                                color: #555;
                                text-decoration: underline;
                              }

                              & > .description {
                                width: 100%;
                                font-size: 1rem;
                                color: #555;
                                text-align: justify;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 450px) and (max-width: 1030px) {
  .viewProduct {
    & > .vp_cont {
      & > .vp_cont2 {
        & > .product {
          & > .p_cont {
            & > .p_cont2 {
              & > .presentation {
                & > .p_cont {
                  & > .p_cont2 {
                    & > figure {
                      height: 450px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1030px) {
  .viewProduct {
    & > .vp_cont {
      & > .vp_cont2 {
        & > .product {
          & > .p_cont {
            & > .p_cont2 {
              & > .presentation {
                & > .p_cont {
                  & > .p_cont2 {
                    & > figure {
                      height: 450px;
                    }
                  }
                }
              }
              & > .description {
                & > .d_cont {
                  padding-left: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
